# Object files
*.o
src/build/*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
solidWorks/brasArriere.STL
solidWorks/pantiltDD.STL
solidWorks/pied.STL
solidWorks/~$brasArriere.SLDASM
solidWorks/~$patteArriere.SLDPRT
